.getUserIcon{
    position: absolute;
    top: 80%;
    left: 5%;
    width: 30px;
    height: 30px;
    z-index: 100000;
    border-radius: 50%;
}

.getUserName{
    position: absolute;
    top: 74%;
    left: 12%;
    font-size: 20px;
    z-index: 100000;
}

.getBlogName{
    position: absolute;
    top: 74%;
    right: 5%;
    font-size: 20px;
    overflow-wrap: break-word;
    z-index: 100000;
}

.acms-img-responsive{
    max-width: 600px;
    max-height: 315px;
}

#container{
    position: relative;
    width: 1200px;
    height: 630px;
    z-index: 10;
}

#container h5{
    position: absolute;
    z-index: 10;
    width: 80%;
    top: 2%;
    left: 5%;
    font-size: 25px;
    padding: 2.5px;
    overflow-wrap: break-word;
    z-index: 100000;
}

#result{
    width: 100%;
    height: 100%;
}

#result img{
    width: 1200x;
    height: 630px;
}

.getBackImg{
    position: absolute;
    left: 0;
    z-index: -1000;
    border-radius: 5px 5px 5px 5px;
    width: 600px;
    height: 315px;
}


.backColor{
    position: absolute;
    width: 95%;
    height: 90%;
    left: 2.5%;
    background-color: rgba(252, 250, 250, .7);
    border-radius: 10px;
    z-index: 1;
}